@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.form{
    width:50%;
    min-height:200px;
    background:$background-color_white;
    border-radius:5px;
    margin-top:80px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:80px;
    @include tl() {
        width:80%;
    }
    @include sss() {
        width:90%;
    }
    &__contact{
        width:60%;
        margin-top:40px;
        @include tl() {
            margin-top:0;
            width:80%;
        }
        @include sl(){
            margin-top:80px;
        }
        @include sss() {
            width:90%;
        }
    }
    &__signup{
        margin-top:30px;
        margin-bottom:0;
        @include tl() {
            margin-top:80px;
        }
         @include sl() {
            margin-top:30px;
        }
        @include sm() {
            margin-bottom:80px;
        }
    }

    &__title{
        width:100%;
        padding:$space_xl;
        box-sizing:border-box;
        font-size:$font-size_xl;
        font-family:$font-family_corp;
        color:$font-color_main1;
        text-align:center;
        @include ss() {
            font-size:$font-size_ll;
        }
    }

    &__content{
        width:100%;
        padding:$space_xl $space_xl_l;
        box-sizing:border-box;
        font-size:$font-size_m;
        &__descript{
             margin-bottom:$space_xxl;
             line-height:150%;
             @include ss() {
                 font-size:$font-size_s;
             }
        }
    }

    &__bottom--reset{
        margin-bottom:80px;;
        @include tl() {
            margin-bottom:80px;
        }
        @include tm() {
            margin-bottom:0;
        }
        @include sl() {
            margin-top:30px;
        }
        @include sm() {
            margin-bottom:80px;
        }
    }
}

.textfield{
    &__label{
        font-size:$font-size_default;
        @include ss(){
            font-size:$font-size_s;
        }
        &__describe{
            @include ss(){
                font-size:$font-size_s;
            }
        }
    }
    &__area{
        width:80%;
        padding:$space_m 0 $space_xxl 0;
        @include ss() {
            width:90%;
        }
    }
    &__input{
        width:100%;
        border:none;
        border-bottom:1px solid $font-color_clear;
        font-size:$font-size_default;
        padding:4px;
        @include sm() {
            font-size:$font-size_s;
        }
    }
    &__comment{
        width:100%;
        padding:4px;
        border:1px solid $font-color_clear;
        border-radius:5px;
        box-sizing:border-box;
        font-size:$font-size_default;
        @include sm() {
            font-size:$font-size_s;
        }
        &__area{
            width:100%;
            padding-top:$space_xl;
            padding-bottom:$space_s;
        }
    }
}

.passSave{
    &__content{
        letter-spacing:0;
        margin-bottom:16px;
        color:$font-color_gray;
        font-size:$font-size_m;
    }
}