@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.p-exception {
    width:40%;
    min-height:200px;
    background:$background-color_white;
    border-radius:5px;
    margin-top:80px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:80px;
    &__title{
        width:100%;
        padding:$space_xl;
        box-sizing:border-box;
        font-size:$font-size_xl;
        font-family:$font-family_corp;
        color:$font-color_main1;
        text-align:center;
    }
    &__content{
        width:100%;
        padding:$space_xl $space_xl_l;
        box-sizing:border-box;
        font-size:$font-size_m;
        &__descript{
             margin-bottom:$space_xxl;
             line-height:150%;
             text-align:center;
        }
        &__link{
            text-align: center;
        }
    }
}