@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.p-sidebar{
    display:block;
    width:30%;
    max-height:350px;
    background:$background_color_white;
    border-radius:5px;
    @include tl() {
        width:100%;
        margin-bottom:30px;
    }
    @include sl(){
        max-height:450px;
    }
    &__area {
        &--account {
            @include tl() {
                display:flex;
                justify-content: space-around;
            }
            @include sl() {
                display:block;
            }
        }
    }
    &--option{
        max-height:380px;
        @include sl() {
            max-height:450px;
        }
    }
    &__top{
        padding: 10px 20px;
        &__title{
            font-size: $font-size_ll;
            font-weight: bold;
            color: #05215c;
        }
        &__border{
            margin-top: 5px;
            display: block;
            background: #969696;
            width: 100%;
            height: 5px;
        }
    }

    &__period{
        color:$background_color_gray;
        padding: 10px 20px;
        @include tl() {
             padding: 0 20px;
         }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
             @include tl() {
                font-size: $font-size_xl; 
                padding:20px 10px;
             }
             @include sl() {
                font-size: $font-size_l;
                padding:10px 0;
             }
             @include sl() {
                font-size: $font-size_default;
             }
        }
        &__area{
            display:flex;
            justify-content:flex-start;
        }
    }
    &__limit{
        color:$background_color_gray;
        padding: 10px 20px;
        @include tl() {
            width:25%;
        }
        @include tm() {
            width:30%;
        }
        @include sl() {
            width:90%;
            padding-top:0;
        }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
            @include tm() {
                text-align: center;
            }
            @include sl() {
                text-align: left;
            }
            @include sm() {
                font-size: $font-size_default;
            }
        }
        &__area{
            display:flex;
            justify-content:space-around;
            @include tm() {
                display:block;
            }
            @include sl() {
                display:flex;
            }
            &--f_action{
                text-align:center;
                font-size: $font-size_m;
                width:45%;
                @include tm() {
                    margin-bottom:10px;
                    width:100%;
                }
                @include sl() {
                    margin-bottom:0;
                    width:45%;
                    font-size:$font-size_ll;
                }
                @include sm() {
                    font-size: $font-size_m;
                }
                &--title{
                    padding:5px 0;
                }
                &--count{
                    font-size: $font-size_m;
                    @include sl() {
                        font-size:$font-size_ll;
                    }
                    @include sm() {
                        font-size: $font-size_default;
                    }
                    &--now{
                        font-size: $font-size_default;
                        font-weight:bold;
                        @include sl() {
                            font-size:$font-size_xl;
                        }
                        @include sm() {
                        font-size: $font-size_l;
                    }
                    }
                }
            }
        }
    }

    &__brand{
        color:$background_color_gray;
        padding: 10px 20px;
         @include sl() {
             padding-top:0;
         }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
            @include tl() {
                font-size: $font-size_xl; 
                padding:20px 10px;
             }
             @include sl() {
                font-size: $font-size_l;
                padding:10px 0;
             }
             @include sm() {
                font-size: $font-size_default;
             }
        }
        &__area{
            display:flex;
            flex-wrap:wrap;
            justify-content:flex-start;
            align-content:flex-start;
        }
    }
    &__follow{
        color:$background_color_gray;
        padding: 10px 20px;
        @include sl() {
            padding-top:0;
        }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
            @include tm() {
                text-align: center;
            }
            @include sl() {
                text-align: left;
            }
            @include sm() {
                font-size: $font-size_default;
            }
        }
        &__area{
            padding:5px;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-around;
            align-content:flex-start;
        }
    }
}