@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.p-sidebar{
    display:block;
    width:30%;
    max-height:350px;
    background:$background_color_white;
    border-radius:5px;
    @include sl(){
        width:100%;
        margin-bottom:30px;
        max-height:450px;
    }
    &--option{
        max-height:380px;
        @include sl() {
            max-height:450px;
        }
    }
    &__top{
        padding: 10px 20px;
        &__title{
            font-size: $font-size_ll;
            font-weight: bold;
            color: #05215c;
        }
        &__border{
            margin-top: 5px;
            display: block;
            background: #969696;
            width: 100%;
            height: 5px;
        }
    }

    &__period{
        color:$background_color_gray;
        padding: 10px 20px;
        @include sl() {
             padding: 0 20px;
         }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
        }
        &__area{
            display:flex;
            justify-content:flex-start;
        }
    }
    &__limit{
        color:$background_color_gray;
        padding: 10px 20px;
        @include sl() {
            padding-top:0;
        }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
        }
        &__area{
            display:flex;
            justify-content:space-around;
            &--f_action{
                text-align:center;
                font-size: $font-size_m;
                width:45%;
                @include sl() {
                    font-size:$font-size_ll;
                }
                &--title{
                    padding:5px 0;
                }
                &--count{
                    font-size: $font-size_m;
                    @include sl() {
                        font-size:$font-size_ll;
                    }
                    &--now{
                        font-size: $font-size_default;
                        font-weight:bold;
                        @include sl() {
                            font-size:$font-size_xl;
                        }
                    }
                }
            }
        }
    }

    &__brand{
        color:$background_color_gray;
        padding: 10px 20px;
         @include sl() {
             padding-top:0;
         }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
        }
        &__area{
            display:flex;
            flex-wrap:wrap;
            justify-content:flex-start;
            align-content:flex-start;
        }
    }
    &__follow{
        color:$background_color_gray;
        padding: 10px 20px;
        @include sl() {
            padding-top:0;
        }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
        }
        &__area{
            padding:5px;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-around;
            align-content:flex-start;
        }
    }
}