@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.p-sidebar{
    display:block;
    width:30%;
    background:$background_color_white;
    border-radius:5px;
    @include tl() {
        width:100%;
    }
    @include sl(){
        max-height:450px;
    }
    &__area {
        &--account {
            @include tl() {
                display:flex;
                justify-content: space-around;
            }
            @include sl() {
                display:block;
            }
        }
    }
    &--search {
        max-height:360px;
        @include tl(){
            display:none;
        }
        &--sp {
            display:none;
            @include tl() {
                display:block;
                order:-1;
                margin-bottom:30px;
            }
            @include sl {
                max-height:500px;
            }
        }
    }
    &--option{
        @include tl(){
            order:-2;
            margin-bottom:30px;
        }
        @include sl() {
            display:none;
            max-height:560px;
        }
        &--sp{
            display:none;
             @include sl() {
                display:block;
                max-height:560px;
            }
        }
    }
    &--limit{
        display:none;
        @include sl() {
            display:block;
            order:-1;
            margin-bottom:30px;
        }
    }
    &__top{
        padding: 10px 20px;
        &__title{
            font-size: $font-size_ll;
            font-weight: bold;
            color: #05215c;
            @include sss() {
                font-size: $font-size_m;
            }
        }
        &__border{
            margin-top: 5px;
            display: block;
            background: #969696;
            width: 100%;
            height: 5px;
        }
    }

    &__period{
        color:$background_color_gray;
        padding: 10px 20px;
        @include tl() {
             padding: 0 20px;
         }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
             @include tl() {
                font-size: $font-size_xl;
                padding:20px 10px;
             }
             @include sl() {
                font-size: $font-size_l;
                padding:10px 0;
             }
             @include sl() {
                font-size: $font-size_default;
             }
        }
        &__area{
            display:flex;
            justify-content:flex-start;
            @include sl() {
                justify-content: space-between;
            }
        }
    }
    &__twitter{
        color:$background_color_gray;
        padding: 10px 20px;
        font-size:$font-size_m;
        display:flex;
        justify-content:space-around;
        @include tl() {
            margin-top:10px;
            padding: 10px 0 10px 20px;
        }
        @include sl() {
            margin-top:0;
            padding: 10px 0;
        }
        &__img{
            width:90%;
            @include sl(){
                width:30%;
            }
            &__area{
                height:100px;
                display:block;
                @include tl() {
                    height:125px;
                }
                @include sm() {
                    height:115px;
                }
            }
        }
        &__describe{
            padding:0 10px;
            width:40%;
            @include tl() {
                padding: 0 0 0 10px;
                width: 100px;
            }
        }
        &__name{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-bottom: 3px;
            @include tl() {
                font-size:$font-size_l;
            }
        }
        &__screen{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-bottom: 3px;
        }
        &__status {
            margin-top:3px;
            @include tl() {
                margin-top:10px;
            }
            &__folow{
                padding: 2px 0;
                &__describe{
                    padding-bottom:2px;
                }
            }
            &__folower{
                padding: 2px 0;
                &__describe{
                    padding-bottom:2px;
                }
            }
        }
    }
    &__limit{
        color:$background_color_gray;
        padding: 10px 20px;
        margin-top:10px;
        // &--display{
        //     @include sl(){
        //         display:none;
        //     }
        // }
        @include tl() {
            margin-top:0;
            width:11%;
        }
        @include tm() {
            width:20%;
            padding: 10px 0;
        }
        @include sl() {
            width:90%;
            padding-top:0;
        }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
            @include tl() {
                text-align: center;
            }
            @include sl() {
                text-align: left;
                margin-left:30px;
            }
            @include sm() {
                font-size: $font-size_default;
            }
        }
        &__area{
            display:flex;
            justify-content:space-around;
            @include tl() {
                display:block;
            }
            @include sl() {
                display:flex;
            }
            &--f_action{
                text-align:center;
                font-size: $font-size_m;
                width:45%;
                @include tl() {
                    width:100%;
                }
                @include tm() {
                    margin-bottom:10px;
                }
                @include sl() {
                    margin-bottom:0;
                    width:45%;
                    font-size:$font-size_ll;
                }
                @include sm() {
                    font-size: $font-size_m;
                }
                &:first-child{
                    @include tl(){
                        margin-bottom:10px;
                    }
                }
                &--title{
                    padding:5px 0;
                }
                &--count{
                    font-size: $font-size_m;
                    @include sl() {
                        font-size:$font-size_ll;
                    }
                    @include sm() {
                        font-size: $font-size_default;
                    }
                    &--now{
                        font-size: $font-size_default;
                        font-weight:bold;
                        @include sl() {
                            font-size:$font-size_xl;
                        }
                        @include sm() {
                        font-size: $font-size_l;
                    }
                    }
                }
            }
        }
    }

    &__brand{
        color:$background_color_gray;
        padding: 10px 20px;
         @include sl() {
             padding-top:0;
         }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
            @include tl() {
                font-size: $font-size_xl;
                padding:20px 10px;
             }
             @include sl() {
                font-size: $font-size_l;
                padding:10px 0;
             }
             @include sm() {
                font-size: $font-size_default;
             }
        }
        &__area{
            display:flex;
            flex-wrap:wrap;
            justify-content:flex-start;
            align-content:flex-start;
            @include sl() {
                justify-content: space-around;
            }
        }
        &__check{
            margin-right:10px;
            margin-bottom:10px;
            padding:5px;
            cursor: pointer;
            @include tl() {
                margin-right:20px;
                margin-bottom:20px;
                font-size:$font-size_xl;
            }
            @include sl() {
                margin-right:10px;
                margin-bottom:10px;
                font-size:$font-size_l;
            }
        }
    }
    &__follow{
        margin-top:10px;
        color:$background_color_gray;
        padding: 10px 20px;
        @include tl(){
            margin-top:0;
            width:15%;
        }
        @include sl() {
            padding-top:0;
            width:100%;
            box-sizing: border-box;
        }
        @include ss() {
            padding-right:0;
            width:90%;
        }
        &__title{
            font-size: $font-size_l;
            padding:10px 0;
            @include tm() {
                text-align: center;
            }
            @include sl() {
                text-align: left;
                padding-left: 10px;
            }
            @include sm() {
                font-size: $font-size_default;
            }
            &--display{
                text-align:left;
                padding-left:10px;
            }
        }
        &__area{
            padding:5px;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-around;
            align-content:flex-start;
            @include sl() {
                width:85%;
                margin: 0 auto;
            }
            @include ss() {
                width:90%;
            }
        }
    }
    &__accordion{
        @include tl() {
            display:none;
        }
        @include sl() {
            display:block;
        }
        width:100%;
        &__area{
            margin-top:20px;
            margin-bottom:20px;
            margin-right:auto;
            margin-left:auto;
            width:20%;
            display:flex;
            @include ss() {
                width:30%;
            }
            &__state {
                padding:0 10px;
                box-sizing:border-box;
                text-align:center;
                font-size:$font-size_l;
                font-weight:bold;
            }
            &__img {
                display:block;
            }
            &--brand{
                @include sl() {
                    width:30%;
                }
                @include sm() {
                    width:40%;
                }
                @include sss() {
                    width:50%;
                }
            }
            &--close{
                @include sm() {
                    width:30%;
                }
                @include sss() {
                    width:40%;
                }
            }
        }
    }
    &__sp{
        @include sl(){
            display:none;
        }
        // &--brand{
        //     @include sl(){
        //         display:none;
        //     }
        // }
    }
}