@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

p,
label,
legend,
span {
  font-family: arial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* iOSでのデフォルトスタイルをリセット */

input[type=submit],
input[type=button] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  box-sizing: border-box;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}

input[type=submit]::focus,
input[type=button]::focus {
  outline-offset: -2px;
}

html,
body {
  height: 100%;
}

body {
  background: #f2f2ed;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -46px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: white;
  z-index: 2;
}

.header__section {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__section__title {
  font-style: oblique;
  font-weight: bold;
  font-size: 30px;
  color: #05215c;
}

.header--dummy {
  width: 100%;
  height: 60px;
}

.header .menu {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.header .menu__item {
  margin-right: 30px;
}

.header .menu__link {
  text-decoration: none;
  color: #2858a7;
  font-weight: bold;
}

.header .menu__link--color {
  color: white;
  background: #d71518;
  padding: 10px;
  border-radius: 10px;
}

.menu__trigger {
  display: none;
}

.footer {
  background: #05215c;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
}

.form {
  width: 50%;
  min-height: 200px;
  background: white;
  border-radius: 5px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}

.form__contact {
  width: 60%;
  margin-top: 40px;
}

.form__title {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #05215c;
  text-align: center;
}

.form__content {
  width: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
  font-size: 14px;
}

.form__content__descript {
  margin-bottom: 30px;
  line-height: 150%;
}

.form__bottom--reset {
  margin-bottom: 0;
}

.textfield__label {
  font-size: 16px;
}

.textfield__area {
  width: 80%;
  padding: 10px 0 30px 0;
}

.textfield__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #969696;
  font-size: 16px;
  padding: 4px;
}

.textfield__comment {
  width: 100%;
  padding: 4px;
  border: 1px solid #969696;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.textfield__comment__area {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
}

.passSave__content {
  letter-spacing: 0;
  margin-bottom: 16px;
  color: #5c5c5c;
  font-size: 14px;
}

.btn {
  display: block;
  color: white;
  background: #05215c;
  border: 2px solid #05215c;
  border-radius: 5px;
  width: 100%;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: #05215c;
}

.btn__content {
  margin-bottom: 25px;
}

.btn__contact {
  margin-top: 10px;
}

.p-banner {
  position: relative;
  width: 100%;
}

.p-banner__img {
  width: 100%;
}

.p-banner__title {
  position: absolute;
  top: 30%;
  right: 10%;
  text-align: center;
  line-height: 150%;
  color: #ffd537;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.p-banner__title--main {
  font-style: oblique;
}

.p-entrance {
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

.p-entrance__content {
  width: 70%;
  height: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.p-entrance__panel {
  width: 40%;
  margin: 0 auto;
}

.p-entrance__panel__title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.p-entrance__panel__btn {
  display: block;
  margin: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.signup__btn {
  background: #50c6a6;
  border: 2px solid #50c6a6;
}

.signup__btn:hover {
  background: white;
  color: #50c6a6;
}

.login__btn {
  background: #4790bb;
  border: 2px solid #4790bb;
}

.login__btn:hover {
  background: white;
  color: #4790bb;
}

.p-contact {
  width: 100%;
}

.link {
  font-size: 14px;
  color: #05215c;
}

.link__content {
  margin-bottom: 16px;
}

