@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.u-err{
    &__comment{
        color:$font-color_red;
        height:10px;
        padding:5px 0;
    }
    &__block{
        background:$font-color_pink;
    }
    &__msg{
        color:$font-color_red;
        padding:10px 0;
        @include ss() {
            font-size:11px;
        }
        &__main{
            color:$font-color_red;
            padding:10px 0;
            @include ss() {
                 font-size:11px;
            }
        }
    }
    &__done{
        display:none;
        @include sl(){
            width:90%;
            text-align:center;
            display:block;
            color:$font-color_red;
            height:10px;
            padding:5px 0;
        }

    }
}

// .inactive{
//     background:$background-color_lightGray;
// }